p {
    color: red;
    cursor: pointer;
}
.block {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 10px;
    border: 1px solid silver;
    margin-top: 20px;
}